@use '../utilities/variables' as vars;

:root {
  font-family:
    'IBM Plex Sans' 'Rubik',
    'Lato',
    Inter,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  width: 100vw;

  color-scheme: light dark;
  color: vars.$text-color-light;

  background: linear-gradient(135deg, vars.$color-primary 0%, vars.$bg-color-primary 52.5%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[lang='he'] {
  direction: rtl;
}

html[lang='en'] {
  direction: ltr;
}

.lang-switcher {
  display: flex;
  justify-self: end;
  gap: 0.5rem;
  grid-row: 1;
  span {
    cursor: pointer;
    min-width: max-content;
  }
}

.search-input-wrapper {
  display: flex;
  gap: 0.5rem;
  grid-row: 1;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

p {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  font-weight: 500;
  color: vars.$text-color-light;
  text-decoration: inherit;
}
a:hover {
  text-shadow: 0 0 12px #bdeeff;
}

img {
  border-radius: 6px;
  aspect-ratio: 2/1;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 100dvh;
  overflow-x: hidden;
  text-align: center;
}

.form-wrapper {
  background-color: #fff;
  border-radius: 8px;
}

.render-item-container {
  max-width: max-content;
}

// Styles for the general Paper components
.MuiPaper-root {
  border-radius: 12px;
  &:not(button) {
    border: 2px solid vars.$border-color-primary;
  }
}
// Targets all Paper elements except those that are part of the DatePicker component
.MuiPaper-root:not(.MuiPickersPopper-paper, .MuiDialog-paperScrollPaper) {
  background: vars.$bg-color-primary !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid #fff;
}

.MuiIconButton-root:focus,
.MuiIconButton-root:focus-visible {
  outline: none;
}

.loader {
  display: grid;
  margin: auto;
  top: 100px;
}

.preview {
  display: grid;
  place-items: center;
  min-height: 215px;
  padding: 0;
  cursor: pointer;
  &:not(.hero .preview, .cart-item-preview) {
    box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.132) inset;
    background: linear-gradient(to bottom, vars.$color-primary 0%, vars.$bg-color-primary 25%);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    &:not(.item-preview, .cart-item-preview, .gallery-image) {
      background-color: #3d3d3d35;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }
  }

  // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%), rgba(255, 255, 255, 0.001);
  img:not(img.preview.gallery-image) {
    border-bottom-right-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
  }
  transition: 200ms;

  .options-wrapper {
    display: flex;
    height: max-content;
    align-items: flex-start;
    height: 24px;
    gap: 0.5rem;
    * {
      width: 24px;
    }
  }
  h2,
  h3 {
    line-height: 1.1;
    white-space: wrap;
  }
  div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  small {
    white-space: nowrap;
  }
}

.details {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 1rem;
  place-items: center;
  border-radius: 8px;

  img {
    max-width: 700px;
    border-radius: 8px;
  }
}

.details-buttons {
  display: grid;
  place-items: center;
  gap: 0.5rem;
  * {
    max-width: max-content;
  }

  div {
    display: flex;
    gap: 0.5rem;
  }
}

.generic-list {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  article {
    cursor: pointer;
  }
}

.file-gallery-container {
  display: grid !important;
  width: 100%;
}

.files-list {
  display: flex;
  justify-content: start;
  img:not(.cover-image) {
    min-height: 40px;
    max-width: 116px !important;
    cursor: pointer;
  }
}

.file-uploader {
  display: flex 1 1;
  max-width: 520px;
  min-width: 300px !important;
  place-self: center;
  margin: auto;
  .file-uploader-content-container {
    min-width: min-content;
  }
  .upload-icon-container {
    // min-width: min-content;
    .icon {
      margin: auto;
    }
  }
  cursor: pointer;
  padding: 1rem;
}

.preview {
  gap: 1rem;

  small,
  .icon {
    min-width: min-content;
    place-self: center;
  }

  img:not(.hero img, .cover-image) {
    width: 250px;
    max-width: 250px;
    height: 100%;
    padding: 0;
    box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.132);
    border: 2px solid #cccccc;
    border-radius: 8px;
    transition: 200ms;
  }
}

.generic-form {
  width: 100%;
  min-width: min-content;
  max-width: 1000px;
  place-self: center;
  align-self: start;
  .checkbox-wrapper {
    // display: flex;
    .MuiFormControlLabel-label {
      color: black !important;
    }
  }
  button {
    max-width: max-content;
    place-self: center;
    font-weight: bold;
    // color: vars.$text-color-primary !important;
  }

  form {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    // * {
    //   border-color: #fff;
    //   color: #fff;
    // }
  }
}
