h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.25rem;
}

@media (min-width: 730px) {
  h2 {
    font-size: 1.75rem;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100%;
  flex: 1;
}
