.item-preview{
    padding: 0.5rem;
    margin: 0.5rem;
    height: 240px;
    div.title-availability-container{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-content: center;
        h2{
            width: 100%;
            grid-column: span 2;
        }
    }
    .availability-container{
        display: flex;
        gap: 0;
        max-height: 36px;
        flex-direction: column;
    }
    small{
        width: max-content;
    }
    p{
    text-overflow: ellipsis;
   overflow: hidden;
   display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:3 ;
    }
    .add-to-cart-button{
        background-color: $color-primary;
        color: #fff;
    }
}