@use '../../../utilities/variables' as vars;

.item-details {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(90vh - 4rem);
  background: vars.$preview-bg-color;
  place-self: center;
  width: clamp(250px, 50vw, 100%);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  overflow: auto;
  position: relative;
  opacity: 1;
  animation: fadeIn 0.5s ease-out;
  margin-block: 0;

  &.exiting {
    opacity: 0;
    animation: fadeOut 0.4s ease-out forwards;
  }

  img {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }

  .item-details-buttons {
    display: flex;
    button {
      padding: 0.25rem;
      background-color: transparent;
      border: none;
      color: vars.$color-brand;
    }
  }

  div {
    display: flex;
    gap: 0.5rem;
  }

  div.item-info-container {
    display: flex;
    gap: 0.5rem;
    small.item-price {
      align-self: center;
      font-weight: 600;
      color: vars.$color-brand;
    }
  }

  .hour-selection-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 0.5rem;
    .hour-label {
      justify-self: end;
      font-weight: 600;
    }
    span.hour-value {
      min-width: 24px;
      font-weight: 700;
    }
    div {
      display: flex;
      gap: 0.5rem;
    }
  }

  @media (max-width: 768px) {
    width: calc(100% - 2rem);
    place-self: center;
    justify-items: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
