@use '../auth/styles' as auth;
@use '../entities/bookings/calender/styles' as calendar;
@use '../entities/cart/styles' as cart;
@use '../entities/categories/styles' as categories;
@use '../entities/dashboard/styles' as dashboard;
@use '../entities/genres/styles' as genres;
@use '../entities/items/styles' as items;
@use '../entities/reservations/styles' as reservations;
@use '../entities/studios/styles' as studios;
@use '../entities/wishlists/styles' as wishlists;
@use '../navigation/styles' as navbar;
@use '../search/styles' as search;
@use '../entities/payments/sumit/styles' as sumitPayment;
@use '../static/pages/compliance-pages/styles' as compliance;
@use '../home/styles' as home;
@use '../entities/orders/styles' as orders;
@use '../entities/profile/styles' as profile;
@use '../entities/subscriptions/styles' as subscriptions;
@use '../vendor-onboarding/sumit/styles' as vendorOnboarding;
@use '../static/styles' as static;
@use '../translation/styles' as translation;
