.home {
    display: grid;
    justify-items: center;
    gap: 1rem;
    margin-block-end: 2.5rem;

    .studios{
        width: 100%;
    }

    .generic-carousel{
        max-width: 100%;
    }
  
     h1{
         max-width: max-content;
         place-self: center;
         margin-block-start: 0rem;
         cursor: pointer;
         &.hero-header,
         &:first-of-type:not(.hero-header) {
             justify-self: start;   
         }
        &:hover{
            text-shadow: 0 0 12px #bdeeff;
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1620px){
   .home{
       .studios-list{
           grid-template-columns: repeat(3, 1fr);
        }
   }
    
}

@media screen  and (max-width: 900px) {
    .home{
        margin-block-end: 0rem;

        .swiper-button-prev,
        .swiper-button-next,
        .swiper-button-prev::after,
        .swiper-button-next::after,
        .swiper-pagination.button{
            display: none;
        }
    }
  }