.home {
    display: grid;
    gap: 1rem;

    .generic-carousel{
        margin-block-end: 1rem;
        min-height: 300px;
    }
    .generic-carousel:is(:last-of-type){
            margin-block: 0.5rem;
        }
     h1{
         max-width: max-content;
         place-self: center;
         cursor: pointer;
         &.hero-header,
         &:first-of-type:not(.hero-header) {
           justify-self: start;
         }
        &:hover{
            text-shadow: 0 0 12px #bdeeff;
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1620px){
   .home{
       .studios-list{
           grid-template-columns: repeat(3, 1fr);
        }
   }
    
}