.generic-carousel {
  .studios-carousel {
    min-height: 350px;
  }

  color: #fff;
  max-width: calc(100vw - 2rem);
  min-width: 100%;
  min-height: max-content;
  border-radius: 8px;
  position: relative;

  .swiper_wrap {
    position: relative;
    min-height: 256px;
  }

  .swiper {
    height: 100%;
  }

  .swiper-wrapper {
    height: 100%;
  }

  .swiper-slide {
    height: 100%;
    overflow: hidden;
  }

  .swiper-navigation-wrapper {
    position: relative;
    height: 100%;
  }

  .swiper-navigation-title-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    h1 {
      max-width: max-content;
      height: max-content;
      font-size: 1.5em;
      text-wrap: nowrap;
      place-self: center;
      justify-self: start;
    }
  }

  .swiper-navigation {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
    z-index: 10;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    width: 40px;
    height: 40px;
    // transform: none;
    margin: 1rem 0;
    background-color: transparent;
    border-radius: 8px;
    display: grid;
    place-items: center;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 16px;
    height: min-content;
    color: #fff;
  }

  .swiper-pagination {
    display: none;
  }
}
