@use 'utilities/variables' as vars;

footer.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  width: 100%;
  max-height: 2.5rem;
  background: #ffffff;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.25rem 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  gap: 0.5rem;
}

.footer-icon-link {
  color: #333;
  text-decoration: none;

  &[aria-current='page'] {
    .footer-link-content {
      color: vars.$color-brand;

      span {
        font-weight: 600;
      }
    }
  }
}

.footer-link-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 0.8rem;
  }
}
