@use 'utilities/variables' as vars;
@use 'utilities/mixins' as mixins;

button.add-remove-button {
  @include mixins.branded-button;

  align-self: center;
  border-radius: 8px;
  cursor: pointer;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);

  &:hover:not(:disabled) {
    background-color: var(--color-brand-bg);
    border-color: var(--color-brand);
    box-shadow: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
  }

  //

  svg {
    font-size: 1.25rem;
    transition: transform 0.25s ease;
  }
}
