@use 'utilities/variables' as vars;
@use 'utilities/mixins' as mixins;

button.add-remove-button {
  @include mixins.branded-button;

  --button-hover-bg: rgba(16, 185, 129, 0.2);
  --button-shadow: rgba(16, 185, 129, 0.3);
  --button-focus-shadow: rgba(14, 165, 233, 0.3);

  align-self: center;
  border-radius: 8px;
  cursor: pointer;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  &:hover:not(:disabled) {
    background-color: var(--button-hover-bg);
    border-color: vars.$color-brand;
    box-shadow: 0 4px 12px var(--button-shadow);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
  }

  //   &:focus {
  //     outline: none;
  //     box-shadow: none;
  //     border: 1px solid vars.$color-brand;
  //     outline: 4px auto vars.$color-brand;
  //   }

  svg {
    font-size: 1.25rem;
    transition: transform 0.25s ease;
  }
}
