@use 'utilities/variables' as vars;
button {
  display: flex;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
  font-family: inherit;
  background-color: #fff;
  color: vars.$text-color-dark;
  white-space: nowrap;
  border: 1px solid white;
  box-shadow: inset 0 0 10px 5px rgba(255, 255, 255, 0.03);
  padding: 0.8em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: vars.$color-brand;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto vars.$color-brand;
  }
  &:disabled {
    background-color: #dcdcdc;
    color: #666666;
    cursor: not-allowed;
  }
}

button:is(.dropdown-toggle) {
  max-width: max-content;
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: vars.$color-brand;
}

button:is(.add-to-cart-button) {
  gap: 0.5rem;
  padding: 1.2em 1.8em;
  border-radius: 20px;
  border: none;
  width: 100%;
  color: black !important;
  background-color: vars.$color-brand;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.checkout-button {
  display: inline-block;
  width: calc(100% - 2rem);
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  background-color: vars.$color-brand;
  color: black;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
}
