@use 'utilities/variables' as vars;
@use 'utilities/mixins' as mixins;
button {
  display: flex;
  min-width: 24px;
  min-height: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: vars.$border-radius-medium;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-brand);
  background-color: var(--border-primary);
  white-space: nowrap;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;

  &:hover {
    border-color: var(--color-brand);
  }

  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  &:disabled {
    background-color: var(--bg-tertiary);
    color: var(--text-secondary);
    cursor: not-allowed;
  }
}

button:is(.dropdown-toggle) {
  max-width: max-content;
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: var(--color-brand);
}

button:is(.add-to-cart-button) {
  gap: vars.$spacing-sm-md;
  padding: 1.2em 1.8em;
  border-radius: vars.$border-radius-medium;
  border: none;
  width: 100%;
  color: var(--btn-primary-text) !important;
  background-color: var(--color-brand);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  .button-loading-spinner {
    width: 20px;
    height: 20px;
    border: 2px solid var(--btn-primary-text);
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.checkout-button {
  display: inline-block;
  width: calc(100% - 2rem);
  padding: 0.8rem vars.$spacing-medium;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  background-color: var(--color-brand);
  color: var(--btn-primary-text);
  border: none;
  border-radius: vars.$border-radius-medium;
  box-shadow: 0 4px 8px var(--shadow-md);
  cursor: pointer;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 12px var(--shadow-lg);
  }
}
