@use '../../../../assets/styles/utilities/variables' as vars;
@use 'sass:color';

.category-preview {
  min-height: 60px;
  background-color: #f5f5f5;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
  cursor: pointer;
  border: 2px solid transparent;

  span {
    font-size: clamp(0.7rem, 0.9rem, 1.2rem);
    font-weight: 600;
    line-height: normal;
    color: #333;
    text-align: start;
    transition: color 0.2s ease;
  }

  &--selected {
    background-color: #f0f0f021;
    // border-color: #fff;
    box-shadow:
      0 2px 8px rgba(0, 0, 0, 0.1),
      0 0 0 1px rgba(0, 0, 0, 0.05);

    span {
      font-weight: 600;
      color: color.adjust(vars.$color-brand, $lightness: -10%, $saturation: 10%);
      color: vars.$color-brand;
    }
  }
}
