@use 'utilities/variables' as vars;
@use 'sass:color';

article.category-card {
  min-height: 60px;
  background-color: #f5f5f5;
  border-radius: vars.$border-radius-large;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: vars.$spacing-medium;
  margin-block: 0.5rem;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background 0.25s ease,
    border-color 0.25s ease;
  cursor: pointer;
  border: 2px solid transparent;

  span {
    font-size: clamp(0.7rem, 0.9rem, 1.2rem);
    font-weight: 600;
    line-height: normal;
    color: vars.$text-color-tertiary;
    text-align: start;
    transition: color 0.25s ease;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  }

  // Smaller padding on very small screens
  @media (max-width: 420px) {
    padding: vars.$spacing-small;
  }

  &--selected {
    background-color: #f0f0f021;
    // border-color: #fff;
    box-shadow:
      0 2px 8px rgba(0, 0, 0, 0.1),
      0 0 0 1px rgba(0, 0, 0, 0.05);

    span {
      font-weight: 600;
      color: color.adjust(vars.$color-brand, $lightness: -10%, $saturation: 10%);
      color: vars.$color-brand;
    }
  }
}
