@use '../../utilities//variables' as vars;
button {
  display: flex;
  height: 1.5rem;
  align-items: center;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
  font-family: inherit;
  background-color: #fff;
  color: vars.$text-color-primary;
  white-space: nowrap;
  min-width: fit-content;
  border: 1px solid white;
  box-shadow: inset 0 0 10px 5px rgba(255, 255, 255, 0.03);
  padding: 0.8em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: vars.$color-primary;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto vars.$color-primary;
  }
  &:disabled {
    background-color: #dcdcdc;
    color: #666666;
    cursor: not-allowed;
  }
}

button:is(.dropdown-toggle) {
  max-width: max-content;
  border: none;
}

button:is(.add-to-cart-button) {
  padding: 1.2em 1.8em;
  border-radius: 20px;
  border: none;
  width: 100%;
  background-color: vars.$color-primary;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

// background: linear-gradient(to bottom, vars.$color-primary 0%, vars.$bg-color-secondary 120%);
