@use 'utilities/variables' as vars;

.navbar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  a {
    cursor: pointer;
    white-space: nowrap;
  }
  * {
    max-width: 100%;
  }

  img {
    max-height: 30px;
  }
  a:hover {
    text-shadow: 0 0 12px 7px white;
  }

  .navbar-link {
    position: relative;
    padding: 0 0.75rem;

    // Add separator after every link except the last one
    &:not(:first-child):after {
      content: '';
      position: absolute;
      right: -0.375rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 1rem;
      background: rgba(255, 255, 255, 0.3);
    }

    &[aria-current='page'] {
      color: vars.$color-brand;
    }
  }
}
