@use 'utilities/variables' as vars;

.navbar {
  display: flex;
  gap: 0.5rem;
  a {
    cursor: pointer;
    white-space: nowrap;
  }
  * {
    max-width: 100%;
  }

  img {
    max-height: 30px;
  }
  a:hover {
    text-shadow: 0 0 12px 7px white;
  }

  .navbar-link[aria-current='page'] {
    color: vars.$color-brand;
  }
}
