.wishlist-details {
  gap: 1rem;
  .details-buttons {
    display: flex;
  }
  .wishlist-items-list {
    .items-list {
      display: grid;
      max-width: 1000px;
      min-width: 0;
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
      justify-content: center;
    }
  }
}
