@use 'utilities/variables' as vars;

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &--empty {
    padding: 2rem;
    text-align: center;
  }

  &__empty-message {
    margin: 0;
    font-size: vars.$font-size-medium;
    color: vars.$light-gray-9ca3af;
  }

  &__title {
    margin: 0;
    font-size: vars.$font-size-2xl;
    font-weight: 700;
    color: vars.$color-text-light-gray;

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

