.studio-details-page {
  .preview.studio-preview {
    max-height: max-content;
    gap: 0.5rem;
    max-width: calc(1200px - 1rem);
    .cover-image-container {
      display: grid;
      max-height: 600px;
    }
    button {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    padding: 0;
    .preview p {
      -webkit-line-clamp: 4;
    }
  }

  .studio-details-options-container {
    display: flex;
    gap: 2rem;
  }
  .items {
    width: 100%;
    .generic-list {
      .render-item-container {
        place-self: center;
        width: 270px !important;
      }
    }
  }
  .gallery-images-list {
    overflow-x: auto;
    gap: 0.5rem;
    div {
      padding: 0.25rem;
      img {
        width: 100%;
        min-width: 48px;
        height: 24px;
      }
    }
  }
}
