.studios-page {
  display: grid;
  width: 100%;
  justify-items: start;
  gap: 1rem;
  margin-block-end: 2.5rem;

  .studios-list {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
}

.studios-list-container {
  width: 100%;
}
