.city-preview {
  display: flex;
  // align-items: center;
  // justify-content: center;
  // min-width: 120px;
  cursor: pointer;
  margin-block-end: 0;

  &__name {
    font-weight: 600;
    font-size: 0.95rem;
    text-align: center;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  }

  &--selected {
    background: #0f0f0f;
    border-color: rgba(255, 255, 255, 0.4);
  }
}
