@use 'utilities/variables' as vars;

.addons-list {
  display: grid;
  gap: vars.$spacing-medium;

  &-loading,
  &-empty {
    text-align: center;
    padding: vars.$spacing-xl;
    color: vars.$text-color-secondary;
  }
}
