.map-popup {
  padding: 8px;
  max-width: 200px;
  color: black;
}

.popup-title {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: bold;
}

.popup-description {
  margin: 0 0 4px;
  font-size: 14px;
}

.popup-city {
  margin: 0;
  font-size: 14px;
  color: #666;
}
