@use 'design-system' as ds;

.discover-page {
  display: grid;
  justify-items: center;
  // gap: ds.$space-4;
  margin-block-end: 2.5rem;
  .card {
    cursor: pointer;
  }

  .studios {
    width: 100%;
  }

  .generic-carousel {
    margin-block-end: 1rem;
  }

  h2:not(.generic-carousel-title) {
    padding: 1rem 0;
    max-width: max-content;
    justify-self: start;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1620px) {
  .discover-page {
    .studios-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 900px) {
  .discover-page {
    margin-block-end: 0rem;

    .generic-carousel {
      margin-block-end: 0rem;
    }
    h1,
    h2 {
      text-align: start;
    }
  }
}
