@use 'utilities/variables' as vars;
@use '../../../../shared/components/forms/styles' as forms;

.create-item-page {
  padding: vars.$spacing-xl vars.$spacing-medium;
  max-width: 800px;
  margin: 0 auto;

  > section {
    > h1 {
      font-size: vars.$font-size-2xl;
      font-weight: 700;
      color: vars.$text-color-primary;
      margin: 0 0 vars.$spacing-xl;
      text-align: center;
    }
  }
}

.create-item-form-wrapper {
  margin-top: vars.$spacing-large;
}

.create-item-form {
  @include forms.branded-form;
}

// FileUploader in create item context
.create-item-page {
  @include forms.branded-file-uploader;
}
