@use 'items-list';
@use 'item-card';
@use 'item-features';
@use 'item-badges';
@use 'item-details';
@use 'costumer-details-form';
@use 'create-item-page';
@use 'edit-item-page';
@use 'item-details-page';
@use 'services-page';
