@use 'utilities/variables' as vars;
.item-card {
  position: relative;
  padding: 0.75rem;
  width: clamp(180px, calc(100% - 1.75rem), calc(100% - 1rem));
  background: vars.$card-bg-color;
  min-height: 10rem;
  height: 10rem;

  gap: 0.25rem;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition:
    transform 0.2s ease,
    border-color 0.2s ease;

  .item-card-name-and-description {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .item-price {
    align-self: start;
  }

  h3.title {
    display: flex;
    place-self: start;
    white-space: nowrap !important;
    line-height: 1;
    margin: 0;
    font-size: 1.1rem;
    color: #fff;
  }

  small.item-price {
    font-weight: 600;
    color: vars.$color-brand;
    white-space: nowrap;
  }

  p.description {
    width: 100%;
    overflow: hidden;
    text-align: start;
    hyphens: auto;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1;
    direction: ltr;
    font-size: 0.8125rem;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.75);
    margin: 0;
  }
}
