@use 'utilities/variables' as vars;
.item-preview {
  padding: 0.75rem;
  width: clamp(180px, calc(100% - 1.75rem), calc(100% - 1rem));
  background: vars.$preview-bg-color;
  min-height: 10rem;
  height: 10rem;

  gap: 0.25rem;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition:
    transform 0.2s ease,
    border-color 0.2s ease;

  header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  small {
    color: #b3b2b2;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.05);
  }

  h3 {
    margin: 0;
    font-size: 1.1rem;
    color: #fff;
  }

  small.item-price {
    font-weight: 600;
    color: vars.$color-brand;
    white-space: nowrap;
  }

  p {
    color: #999;
    font-size: 0.9rem;
    line-height: 1.4;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  footer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    .studio-name-location-container {
      gap: 0.25rem;
    }

    .locations-icon {
      width: 1rem;
      height: 1rem;
    }

    strong {
      color: #fff;
      font-size: 0.95rem;
      font-weight: 700;
    }
  }
}
