@use 'design-system' as ds;

.services-page {
  display: grid;

  gap: ds.$space-4;
  margin-block-end: 2.5rem;

  .items-map {
    max-height: 18rem;
  }
  .Items-list-container {
    .items-list {
      display: grid;
      place-self: center;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: ds.$space-4;
    }
  }
}
