.generic-modal {
  // Constrain backdrop to prevent overflow
  // Use 100% instead of 100vw to account for scrollbar
  .MuiBackdrop-root {
    width: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  .modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    padding: 0.5rem;
    overflow-y: auto;
    max-width: 100vw;
    box-sizing: border-box;
    
    .modal-content {
      display: grid;
      place-self: center;
      height: auto;
      max-width: 100%;
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: 768px) {
  .generic-modal {
    .modal-wrapper {
      width: 100%;
    }
  }
}
