.generic-modal {
  .modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    padding: 0.5rem;
    overflow-y: auto;
    .modal-content {
      display: grid;
      place-self: center;
      height: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .generic-modal {
    .modal-wrapper {
      width: 100%;
    }
  }
}
