@use '../utilities/variables' as vars;

main {
  display: grid;
  gap: 1rem;
  max-width: clamp(100%, 80vw, 2300px);
  padding: 0.5rem 1rem 0.5rem 1rem;

  .studio-details-page {
    .hero {
      display: none;
    }
  }
}

body:has(.home-page) main {
  gap: 0rem;
}

@media screen and (max-width: 650px) {
  main {
    padding-block-end: 3.5rem;
  }
}
