main {
  display: grid;
  gap: 1rem;
  min-height: 100dvh;
  max-width: 2300px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  justify-content: center;
  grid-template-rows: max-content 1fr;

  .studio-details {
    .hero {
      display: none;
    }
  }
}

body:has(.home) main {
  gap: 0rem;
}
