@use '../utilities/variables' as vars;

main {
  flex: 1;
  gap: 1rem;
  max-width: clamp(100%, 80vw, 2300px);
  padding: 0.5rem 1rem;
  padding-top: 2rem;
  justify-items: center;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
}

body:has(.discover-page) main {
  gap: 0rem;
}

@media screen and (max-width: 650px) {
  main {
    padding-block-end: 3.5rem;
  }
}
