@use '../utilities/variables' as vars;

header {
  grid-area: header;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: max-content repeat(11, 1fr) 40px;
  grid-template-rows: 1fr;
  gap: 0.5rem;
  z-index: 1000;
  padding: 0 1rem;
  background: linear-gradient(135deg, vars.$color-primary 10%, vars.$bg-color-secondary 90%);
  text-align: center;
  border-bottom: 2px solid vars.$text-color-light;
  place-items: center;
  box-shadow: inset 0 0 10px 5px rgba(255, 255, 255, 0.132);

  @supports (-webkit-overflow-scrolling: touch) {
    /* iOS-specific styles */
    position: -webkit-sticky;
    -webkit-overflow-scrolling: touch;
  }

  .logo {
    padding-inline-end: 0.5rem;
  }

  .cart-wrapper {
  }

  .cart-icon {
    display: flex;
    flex-direction: row;
  }

  .navbar {
    justify-self: start;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-self: end;
  }

  .lang-switcher {
    display: flex;
    grid-row: 1;
    grid-column: 13;
    width: calc(24px + 0.5rem);
    span {
      cursor: pointer;
      min-width: max-content;
    }
  }

  .cart-profile-container {
    grid-row: 1;
    display: flex;
    gap: 0.75rem;
    grid-column: 12;
  }

  .header-search-button-container {
    display: flex;
    align-items: center;
    grid-column: 11;
    justify-self: end;
    cursor: pointer;
  }

  .login-button,
  .logout-button {
    white-space: nowrap;
    grid-row: 1;
    align-self: center;
  }

  .cart {
    display: flex;
    // grid-column: 10;
    grid-row: 1;
    max-width: 180px;
    white-space: nowrap;
    gap: 0.5rem;
    padding: 0.25rem;
    .total-price {
      min-width: calc(max-content + 0.25rem);
      max-width: min-content;
    }
    button {
      display: flex;
      align-items: center;
      min-width: max-content;
      .dropdown-button-title {
        place-self: center;
        min-width: 2ch;
        max-width: 6ch;
      }
    }
    h3 {
      font-size: 1rem;
    }
  }

  .cart,
  .user-greeting {
    white-space: nowrap;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart {
    margin: 0 0.25rem 0 0;
    cursor: pointer;
    .icon-wrapper {
      display: flex;
      span.badge {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff0000;
        color: #fff;
        border-radius: 50%;
        padding: 0.25rem;
        font-size: 0.75rem;
        width: 0.5rem;
        height: 0.5rem;
        margin: 0;
      }
    }
  }

  .generic-dropdown {
    max-height: max-content;
    z-index: 100;
  }

  h1 {
    line-height: 1.1;
    grid-column: 1;
    grid-row: 1;
    white-space: nowrap;
    justify-self: start;
  }
}

@media screen and (max-width: 600px) {
  header {
    gap: 0;
    grid-template-columns: repeat(6, 1fr);
    .navbar {
      display: none !important;
    }
    .header-search-button-container {
      display: none;
    }

    .cart {
      grid-column: 6;
    }
    .login,
    .logout {
      grid-column: 7;
    }
  }
}
