footer {
  height: 3rem;
  width: calc(100% - 1rem);
}

.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: #ffffff;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.footer-grid {
  display: grid;
  grid-template-rows: auto auto; /* Two rows: one for icons, one for text */
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  gap: 0rem;
  height: 2rem;
  justify-items: center;
  align-items: center;
  width: 100vw;

  max-width: 500px;
  margin: 0 auto;
}

.footer-icon-link {
  color: #333;
  text-decoration: none;
}

.footer-icon-link .MuiSvgIcon-root {
  font-size: 24px;
}

.footer-text-link {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  font-weight: 500;
}
