footer {
  width: calc(100% - 1rem);
  max-height: 2.25rem;
}

.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  // height: min-content;
  background: #ffffff;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0.25rem 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.footer-icon-link {
  color: #333;
  text-decoration: none;
}

.footer-link-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 0.8rem;
  }
}
