.generic-modal {
  .modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 1rem));
    display: grid;
    padding: 1rem;
    overflow-y: auto;
    width: 100%;
    .modal-content {
      display: grid;
      place-self: center;
      height: auto;
    }
  }
}
