.generic-modal {
  .modal-wrapper {
    position: fixed;
    display: grid;
    place-self: center;
    align-items: center;
    margin: 3.5rem 0;
    overflow-y: auto;
    .modal-content {
      display: grid;
      place-self: center;
      height: auto;
    }
  }
}
