.order-page {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding: 2rem;
  gap: 1rem;
  width: calc(100vw - 6rem);
  height: fit-content;
  max-width: 1540px;
  border-radius: 8px;
  justify-items: center;
  background-color: #fff;
  * {
    color: black;
  }
  .cart-item-preview {
    flex-direction: row;
  }
}

.paypal-buttons-container {
  width: fit-content;
  max-width: 600px;
  max-height: max-content;
  display: grid;
  justify-content: center;
  align-self: center;
  padding: 1rem;
  border: 1px solid #eaeaea;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .order-page {
    .cart-item-preview {
      flex-direction: column;
    }
  }
}
