.genres-list {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .generic-list {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 0.4rem !important;
    align-content: flex-start !important;
    align-items: flex-start !important;
    max-height: calc(2 * (1.2rem + 1rem + 0.4rem)) !important; // 2 rows: (line-height + padding + gap)
    width: max-content !important;
    min-width: 100% !important;
    padding-bottom: 0.5rem;
    margin: 0 !important;
    grid-template-columns: none !important;
    grid-auto-flow: unset !important;
    grid-auto-rows: unset !important;
    grid-auto-columns: unset !important;
    max-width: none !important;
  }

  .render-item-container {
    display: inline-flex !important;
    width: auto !important;
    min-width: auto !important;
    max-width: none !important;
    height: fit-content;
    flex: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
