@use 'design-system' as ds;

.cart-details-page {
  .cart {
    place-items: center;
    .clear-cart,
    .total-price {
      grid-row: 4;
      grid-column: 1;
    }
    .total-price {
      grid-row: 3;
    }
  }
  .cart-list {
    grid-template-columns: repeat(3, 1fr);
    gap: ds.$space-4;
  }
}
