@use 'design-system' as ds;

.cart-aside {
  position: fixed;
  top: 0;
  right: 0;

  height: 100dvh;
  width: 400px;
  background-color: var(--bg-elevated);
  color: var(--text-primary);
  box-shadow: -4px 0 8px var(--shadow-sm);
  border-radius: 8px;
  transform: translateX(101%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 100;

  &.open {
    transform: translateX(0);
  }

  &[data-direction='rtl'] {
    right: auto;
    left: 0;
    box-shadow: 4px 0 8px var(--shadow-sm);
    transform: translateX(-100%);

    &.open {
      transform: translateX(0);
    }
  }
  .cart-aside-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: ds.$space-4;
    border-bottom: 1px solid var(--border-primary);

    h2 {
      font-size: 1.5rem;
    }

    .close-btn {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .cart-aside-content {
    flex: 1;
    overflow-y: auto;
    padding: ds.$space-4;
    max-width: clamp(200px, 100%, 400px);
  }

  .cart-aside-footer {
    padding: ds.$space-4;
    border-top: 1px solid var(--border-primary);

    .total {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .cart-aside {
    height: calc(100dvh - 5.7rem);
    top: 2.5rem;
    .open {
      width: calc(100vw - 2rem);
      justify-self: center;
    }
  }
}
