.file-uploader {
  display: flex 1 1;
  background-color: rgba(61, 61, 61, 0.2078431373);
  background: linear-gradient(to bottom, rgba(44, 165, 226, 0.953) 0%, rgba(78, 45, 226, 0.0588235294) 25%);
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.132) inset;
  border-radius: 8px;
  align-content: center;
  max-width: 520px;
  min-height: 215px;
  gap: 1rem;
  min-width: 200px;
  place-self: center;
  margin: auto;
  cursor: pointer;
  padding: 1rem;
  .file-uploader-content-container {
    min-width: min-content;
    display: flex;
    justify-content: center;
  }
  .upload-icon-container {
    .icon {
      margin: auto;
    }
  }
}
