article {
  gap: 1rem;
  display: grid;
}

.file-uploader {
  display: flex 1 1;
  background-color: rgba(61, 61, 61, 0.2078431373);
  background: linear-gradient(to bottom, rgba(44, 165, 226, 0.953) 0%, rgba(78, 45, 226, 0.0588235294) 25%);
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.132) inset;
  border-radius: 8px;
  align-content: center;
  max-width: 520px;
  min-height: 215px;
  gap: 1rem;
  min-width: clamp(200px, 440px, 520px);
  place-self: center;
  margin: auto;
  cursor: pointer;
  padding: 1rem;
  small {
    height: max-content;
  }
  .file-uploader-content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      max-width: calc(50%);
    }
  }

  .upload-icon-container {
    height: 24px;
    .icon {
      margin: auto;
    }
  }
  .files-list {
    margin-block-start: 1rem;
  }
}
