.select-wrapper{
    display: grid;
    width: 100%;
    grid-template-columns: 0.23fr 1fr;
    justify-content: start;
    text-align: left;
    label {
        justify-self: start;
        display: flex;
        align-items: center;
    }
}

.checkbox-wrapper{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1rem;
    justify-content: start;
    text-align: left;
    label {
        justify-self: start;
        display: flex;
        align-items: center;
    }
}


.create-studio{
    display: grid;
    margin: auto;
    padding:  2rem;
    gap: 1rem;

    .image-uploader{
        padding: 1rem;
    }
    .preview{
        gap: 1rem;    
        min-width: 250px;
        max-width: max-content;
        height: max-content;
        .icon{
            margin: auto;
        }
        img{
            max-width: 275px;
            place-items: center;
    min-height: 215px;
    padding: 0;
    box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.132);
    border: 2px solid #cccccc;
    border-radius: 8px;
    transition: 200ms;
        }
    }
}