.studio-preview {
  min-height: 340px;
  padding: 0 0.5rem 0.5rem 0.5rem;
  max-width: 1200px;
  gap: 0.5rem;
  h2 {
    white-space: nowrap !important;
    width: max-content;
  }
  small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    align-self: center;
    max-width: 100%;
  }
  p {
    min-height: 72px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  img {
    min-height: 24px;
    min-width: 0;
    max-width: calc(100% + 1rem);
    place-self: center;
  }

  .image-gallery-container {
    align-self: start;
  }
}
