@use '../../../utilities//variables' as vars;

.studio-preview {
  min-height: 340px;
  padding: 0 0.5rem 0.5rem 0.5rem;
  max-width: 1200px;
  gap: 0.5rem;
  background: vars.$preview-bg-color;

  img {
    max-width: calc(100% + 1rem);
    place-self: center;
  }
  h3 {
    white-space: nowrap !important;
    width: max-content;
  }

  small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    align-self: center;
    max-width: 100%;
  }
  p.description {
    min-height: 72px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .options-wrapper {
    flex: 1 1 auto;
    height: 24px;
    gap: 0.5rem;
    font-size: small;
    justify-content: space-around;
    div {
      align-items: flex-start;
      height: 24px;
      gap: 0rem;
      svg {
        width: 14px;
      }
      span {
        width: 20px;
        height: 12px;
      }
    }
  }

  .image-gallery-container {
    align-self: start;
    gap: 0;
  }
}
