.studio-preview {
  min-height: 340px;
  padding: 0 0.5rem 0.5rem 0.5rem;
  max-width: 1200px;
  gap: 0.5rem;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  img {
    min-height: 24px;
    min-width: 0;
    max-width: calc(100% + 1rem);
    place-self: center;
  }
  h3 {
    white-space: nowrap !important;
    width: max-content;
  }

  small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    align-self: center;
    max-width: 100%;
  }
  p.description {
    min-height: 72px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .options-wrapper {
    display: flex;
    height: 24px;
    gap: 0.25rem;
    div {
      align-items: flex-start;
      height: 24px;
      gap: 0rem;
      svg {
        width: 28px;
      }
      p {
        width: 28px;
        height: 24px;
      }
    }
  }

  .image-gallery-container {
    align-self: start;
  }
}
