@use 'design-system' as ds;

.checkout-page {
  display: grid;
  gap: ds.$space-4;
  width: 100%;
  justify-items: center;

  .cart {
    display: flex row;
    justify-self: center;
    .cart-list {
      width: 218px;
      max-width: 100%;
      justify-self: start;
    }
  }

  .paypal-buttons-container {
    max-width: 100%;
    display: grid;
    justify-content: center;
    padding: ds.$space-4;
    border: 1px solid var(--border-primary);
    background-color: var(--bg-elevated);
    border-radius: 8px;
    box-shadow: var(--shadow-md);
  }
}
