.studio-details-page {
  .gallery-images-list {
    flex-grow: 0;
    overflow-x: auto;
    gap: 0.5rem;
    padding: 0.5rem;
    div {
      img {
        width: 100%;
        min-width: 48px;
        height: 24px;
      }
    }
  }
  .item-card {
    min-height: 8rem;
    footer {
      display: none;
    }
  }
}
