@use 'utilities/variables' as vars;
@use 'studio-features';

.studio-card {
  position: relative;
  height: clamp(190px, 234px, fit-content);
  min-height: 190px;

  padding: 0 0.5rem 0.5rem 0.5rem;
  max-width: 1100px;
  gap: 0.5rem;
  background: vars.$card-bg-color;

  cursor: pointer;
  @container (max-width: 270px) {
    container-type: inline-size;
  }

  .image-container {
    position: relative;
    width: calc(100% + 1rem);
    place-self: center;
    height: 0;
    aspect-ratio: 3/2;
    border-top-left-radius: vars.$border-radius-medium;
    border-top-right-radius: vars.$border-radius-medium;
    padding-bottom: 50.67%;
    overflow: hidden;
    background-color: vars.$light-gray-f0f0f0-5b;
    @container (max-width: 270px) {
      height: 115px;
      padding-bottom: 0;
      aspect-ratio: unset;
    }

    .generic-image {
      position: absolute;
      top: 0;
      left: 0;

      object-fit: cover;
      transition: opacity 0.3s ease;

      &.loading {
        opacity: 0;
      }

      &.loaded {
        opacity: 1;
      }
    }
  }
  img {
    max-width: calc(100% + 1rem);
    place-self: center;
  }
  * {
    justify-self: start;
  }

  .studio-features-container {
    .distance-badge,
    .studio-rating__badge,
    .studio-features.div[role='group'] {
      background: vars.$dark-bg-15-55;
    }
  }

  .studio-card-name-and-description {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  h3.title {
    display: flex;
    place-self: start;
    white-space: nowrap !important;
    line-height: 1;
  }

  small {
    color: vars.$color-text-medium-gray;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: vars.$border-radius-small;
    background: vars.$white-opacity-05;
  }
  p.description {
    width: 100%;
    overflow: hidden;
    text-align: start;
    align-self: start;
    hyphens: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 0.8125rem;
    line-height: 1.4;
    color: vars.$white-opacity-75;
    word-break: break-word;
    text-overflow: ellipsis;

    // Support RTL for Hebrew text
    html[dir='rtl'] &,
    html[lang='he'] & {
      direction: rtl;
      text-align: right;
    }
  }

  .image-gallery-container {
    align-self: start;
    gap: 0;
  }
}
