 .MuiPaper-root{
    // margin: 1rem;
    
    border-radius: 12px;
    &:not(button){
        border: 2px solid $border-color-primary;

    }

    &:not(.generic-date-picker){
        background: linear-gradient(to bottom, $color-primary 0%, $bg-color-secondary 100%) !important  ;
    }


}