.cart-item-preview {
  gap: 0.5rem;
  text-align: start;
  min-height: 125px;
  width: 200px;
  padding: 0.5rem;
  color: #fff;
  background-color: none;
  border: 1px solid #fff;
  border-radius: 10px;

  div {
    width: 100%;
  }
  div.cart-item-booking-date-time-container {
    flex-direction: column;
    gap: 0;
  }
  div.cart-item-quantity-container {
    button {
      background-color: transparent;
      border: none;
      padding: 1rem 0.5rem;
      width: 24px;
      color: #fff;
      &:focus-visible,
      &:focus {
        outline: none;
      }
    }
    display: grid;
    justify-items: center;
    grid-template-columns: 36px 1fr 36px;
    border-radius: 6px;
    width: 100%;
    gap: 0.25rem;
    border: 1px solid #fff;
  }
}
