@use '../../../../assets/styles/utilities/variables' as vars;

.wishlist-preview {
  min-height: 60px;
  width: calc(100% - 1rem);
  background-color: vars.$preview-bg-color;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0.5rem;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    justify-items: center;
  }

  small {
    width: max-content;
    font-size: clamp(0.7rem, 0.9rem, 1.2rem);
    font-weight: 600;
    color: vars.$text-color-primary;
  }
  button {
    margin: 0.5rem;
    width: 100%;
  }
}
