.swipeable-container {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
  cursor: grab;
  
  &:active {
    cursor: grabbing;
  }

  // Prevent text selection during drag
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  // Smooth transitions for non-animated properties
  transition: opacity 0.2s ease-out;
}

