@use 'variables' as vars;

@mixin branded-button {
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);

  transition: all 0.25s ease;

  &:hover:not(:disabled) {
    transform: scale(1.05);
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
  }
}
